[submodule "allan_variance_ros"]
	path = allan_variance_ros
	url = https://github.com/ori-drs/allan_variance_ros
[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
